.project{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px;
    padding-top: 100px;
    background: linear-gradient( to  right, #91d1f7, #fafafa, #84f8b877);
	
}

.project h2{
    width: 100%;
    text-align: center;
    padding: 70px 0px;
    font-weight: 500;
    font-size:xx-large;
    text-decoration:underline;
}

.pc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

.pc .pcDetail{
    width:70% ;
    margin: 0px 10px;
    padding: 20px 15px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 1px 1px 10px black;
}

.pcDetail h3{
    font-weight: 500;
    font-size: x-large;
    margin-bottom: 10px;
}

.sUsed{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: start;
    margin: 0px;
    padding: 0px;
    gap: 10px;
    margin-top: 10px;
}
.pcDetail .su{
     width:fit-content;
    font-weight: 500;
    color: rgb(20, 18, 18);
    background-color: rgb(110, 186, 248);
    border-radius: 10%;
    padding: 3px;
    box-shadow: 1px 1px 5px black;
}

